/*   GLOBAL   */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap');

body {
	height: 100vh;
	margin: 0;
	font-family: 'Jost', sans-serif;
	font-size: 1.3rem;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.11);
}

img {
	width: 100%;
}

/*   HEADER   */

#shipping-info {
	text-align: center;
	margin: 0;
	padding: 0.3em;
	background-color: black;
	
	a {
		color: white;
		font-size: 13px;
		font-weight: 400;
	}

}

.container {
	display: flex;
	justify-content: space-between;
	//margin: 0 -0.5em 0 -1.5em;
	padding: 2em 0.5em 2em 0.5em;
	white-space: nowrap;
	background-color: rgb(241, 238, 231);
}

.menu {
	width: 2em;
	height: 2em;
	cursor: pointer;
	padding-top: 0.3em;
}

.left {
	display: none;
}

.right {
	 ul {
		display: flex;
		img {
			width: 2em;
			height: 2em;
		}
	 }
}

.center {
	width: 5.5em;
	margin: -6.2em auto 0 auto;
	a {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
}

/*   HERO IMG   */






/*
.container {
	display: flex;
	text-align: center;
	padding: 0 2em 0 2em;
	white-space: nowrap;
	background-color: rgb(241, 238, 231);
}

.left {
	float: left;
	width: 10em;
	margin: auto 0;
	ul {
		display: flex;
		a {
			display: block;
			padding: 0 1em;
			color: black;
		}
	}
}

.center {
	display: inline-block;
	margin: 0 auto;
	//width: auto;
	img {
		width: 150px;
	}
}

.right {
	float: right;
	width: 10em;
	margin: auto 0;

	ul {
		display: flex;
		a {
			display: block;
			padding: 0 1em;
			img {
				width: 1.5em;
			}
		}
	}
}
*/

