/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap");
/* #region Reset */
:root {
  /**
     * colors
     */
  --brown: #A54A2F;
  --pink: #FDE8E1;
  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: rgb(255, 143, 156);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);
  /**
  * typography
  */
  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  /**
  * border-radius
  */
  --border-radius-md: 10px;
  --border-radius-sm: 5px;
  /**
  * transition 
  */
  --transition-timing: 0.2s ease;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-bottom: 50px;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.11);
}

li {
  list-style: none;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.11);
}

img, ion-icon, button, a {
  display: block;
}

span {
  display: inline-block;
}

body {
  background: white;
}

/**
 * scrollbar style
 */
body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: white;
  border-left: 1px solid hsl(0deg, 0%, 93%);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0deg, 0%, 80%);
  border: 3px solid var(--white);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: hsl(0deg, 0%, 70%);
}

.title {
  color: var(--eerie-black);
  font-size: var(--fs-5);
  font-weight: var(--weight-600);
  letter-spacing: 0.4px;
  text-transform: capitalize;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--cultured);
  margin-bottom: 30px;
}

/**
 * overlay 
 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: hsla(0deg, 0%, 0%, 0.5);
  opacity: 0;
  pointer-events: none;
  z-index: 15;
  transition: 0.5s ease;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* #endregion Reset */
/* #region Header */
.header-top-actions,
.header-user-actions,
.desktop-navigation-menu,
.header-social-container {
  display: none;
}

.header-top {
  display: block;
  height: 25px;
  display: flex;
  border-bottom: 1px solid var(--cultured);
  align-items: center;
  justify-content: center;
  background-color: hsl(0deg, 0%, 13%);
}
.header-top .header-shipping-info {
  color: white;
  font-size: 10px;
  font-weight: 100;
  text-transform: uppercase;
  align-items: center;
}

.header-main {
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.2));
  background-color: var(--pink);
  max-height: 100px;
}
.header-main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-main .container-left {
  display: flex;
}
.header-main .container-left .hamburger-menu {
  margin-left: 15px;
}
.header-main .container-left .hamburger-menu .action-btn {
  position: relative;
  font-size: 35px;
  color: var(--eerie-black);
}
.header-main .container-left .search-icon {
  margin-left: 10px;
}
.header-main img {
  margin: 0 auto 0 auto;
  padding: 10px 0;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.25));
}
.header-main .container-right {
  display: flex;
}
.header-main .container-right .favorite-icon {
  margin-right: 10px;
}
.header-main .container-right .shopping-bag {
  margin-right: 15px;
}
.header-main .container-right .shopping-bag .action-btn {
  position: relative;
  font-size: 35px;
  color: var(--eerie-black);
}
.header-main .container-right .shopping-bag .count {
  background: var(--bittersweet);
  color: var(--white);
  position: absolute;
  top: 3px;
  right: -6px;
  font-size: 12px;
  font-weight: var(--weight-500);
  line-height: 1;
  padding: 2px 4px;
  border-radius: 20px;
}

/* #endregion Header */
/* #region Bracelets Page */
.main-container {
  margin: 0 15px;
}
.main-container .main-title {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 800;
}
.main-container .sort-section {
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 30px;
}
.main-container .sort-section p {
  line-height: 30px;
}
.main-container .sort-section button {
  display: flex;
  gap: 5px;
}
.main-container .sort-section button p {
  font-weight: 600;
}
.main-container .product-container {
  display: grid;
  grid-gap: 24px 12px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.main-container .product-container img {
  aspect-ratio: 1;
  width: 100%;
  height: auto;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5));
}
.main-container .product-container h2 {
  font-weight: 600;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.main-container .product-container p {
  font-size: 12px;
}

/* #endregion Bracelets Page */
/* #region Mobile Navigation Menu */
.mobile-navigation-menu {
  background: var(--white);
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  max-width: 320px;
  height: 100vh;
  padding: 20px;
  box-shadow: 0 0 10px hsla(0deg, 0%, 0%, 0.1);
  overflow-y: scroll;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  visibility: hidden;
  transition: 0.5s ease;
  z-index: 20;
}

.mobile-navigation-menu.active {
  left: 0;
  visibility: visible;
}

.menu-top {
  padding-bottom: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--cultured);
}

.menu-top .menu-title {
  color: var(--bittersweet);
  font-size: var(--fs-4);
  font-weight: var(--weight-600);
}

.menu-close-btn {
  color: var(--eerie-black);
  font-size: 22px;
}

.menu-close-btn ion-icon {
  --ionicon-stroke-width: 50px;
}

.sidebar-close-btn {
  display: none;
}

.mobile-menu-category-list {
  margin-bottom: 30px;
}

.menu-category .accordion-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-category-list .menu-category {
  border-bottom: 1px solid var(--cultured);
}

.mobile-menu-category-list .menu-title {
  color: var(--onyx);
  font-size: var(--fs-6);
  font-weight: var(--weight-500);
  padding: 12px 0;
}

.accordion-menu > div {
  font-size: 14px;
}

.accordion-menu ion-icon {
  color: var(--onyx);
  --ionicon-stroke-width: 90px;
}

.accordion-menu.active .add-icon,
.accordion-menu .remove-icon {
  display: none;
}

.accordion-menu .add-icon,
.accordion-menu.active .remove-icon {
  display: block;
}

.menu-category .submenu-category-list {
  margin-left: 10px;
}

.submenu-title {
  padding: 6px 0;
  font-size: var(--fs-6);
  color: var(--sonic-silver);
  font-weight: var(--weight-300);
}

.submenu-title:hover {
  color: var(--davys-gray);
}

.submenu-category-list {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}

.submenu-category-list.active {
  max-height: 148px;
  visibility: visible;
}

.menu-category-list {
  margin-bottom: 20px;
}

.menu-bottom .menu-category-list {
  border-bottom: none;
}
.menu-bottom .menu-category-list p {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 30px;
  text-align: center;
}
.menu-bottom .menu-category-list .down-arrow {
  margin: 0 auto;
  padding-bottom: 30px;
}

.menu-bottom .menu-title {
  font-size: var(--fs-6);
  font-weight: var(--weight-500);
  color: var(--eerie-black);
  padding: 12px 0;
}

.accordion-menu.active .caret-back {
  transform: rotate(-0.25turn);
}

.menu-bottom .submenu-category-list {
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
  padding: 0 15px;
  margin-left: 0;
  box-shadow: 0 0 10px hsla(0deg, 0%, 0%, 0.05);
}

.menu-bottom .submenu-category:not(:last-child) {
  border-bottom: 1px solid var(--cultured);
}

.menu-social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu-social-container .social-link {
  background: var(--cultured);
  color: var(--eerie-black);
  font-size: 20px;
  padding: 10px;
  border-radius: var(--border-radius-md);
}

/* #endregion Mobile Navigation Menu */
/* #region Footer */
.footer-container {
  margin: 0 15px;
}
.footer-container .footer-tervezo {
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px 20px;
  gap: 50px 20px;
  padding-bottom: 100px;
  border-bottom: 1px solid #dddee0;
  font-size: 14px;
}
.footer-container ul p {
  font-weight: 700;
  padding-bottom: 20px;
  font-size: 15px;
}
.footer-container ul a {
  padding-bottom: 12px;
  display: flex;
}
.footer-container ul a ion-icon {
  font-size: 24px;
}
.footer-container ul a p {
  font-weight: 500;
  padding: 0;
  margin-top: 3px;
  margin-left: 7px;
}

/* #endregion Footer */
/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/
@media (min-width: 360px) {
  .footer-container ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 676px) {
  .main-container .product-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .footer-container ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-container ul p, .footer-container ul a {
    padding-left: 10%;
  }
}
/**
 * responsive larger than 768px screen
 */
@media (min-width: 768px) {
  /**
    * #REUSED STYLE 
    */
  .container {
    margin: auto;
  }
  /**
    * #HEADER 
    */
  .header-main .container {
    gap: 80px;
  }
  .main-container .product-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
/**
 * responsive larger than 1024px screen
 */
@media (min-width: 1024px) {
  /**
    * #CUSTOM PROPERTY
    */
  :root {
    /**
       * typography 
       */
    --fs-1: 2.625rem;
    --fs-2: 1.125rem;
  }
  /**
    * #REUSED STYLE 
    */
  .container {
    max-width: 980px;
  }
  /**
    * #NOTIFICATION TOAST 
    */
  .notification-toast {
    bottom: 30px;
  }
  /**
    * #HEADER 
    */
  .header-main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-main .hamburger-menu {
    display: none;
  }
  .header-main .shopping-bag {
    display: none;
  }
  .header-main .header-logo img {
    padding: 0px;
  }
  .header-main .header-social-container {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .header-main .header-social-container .social-link {
    padding: 14px;
    background: hsl(0deg, 0%, 95%);
    border-radius: var(--border-radius-sm);
    color: var(--sonic-silver);
    transition: var(--transition-timing);
  }
  .header-main .header-social-container .social-link:hover {
    background: var(--salmon-pink);
    color: var(--white);
  }
  .header-main .header-user-actions {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .header-main .header-user-actions .action-btn {
    position: relative;
    font-size: 35px;
    color: var(--onyx);
    padding: 5px;
  }
  .header-main .header-user-actions .count {
    position: absolute;
    top: -2px;
    right: -3px;
    background: var(--bittersweet);
    color: var(--white);
    font-size: 12px;
    font-weight: var(--weight-500);
    line-height: 1;
    padding: 2px 4px;
    border-radius: 20px;
  }
  .footer-container ul p,
.footer-container ul a {
    padding-left: 20%;
  }
  .desktop-navigation-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .desktop-navigation-menu .desktop-menu-category-list {
    display: inline-block;
  }
  .desktop-navigation-menu a {
    margin-left: 50px;
    margin-right: 50px;
  }
  .desktop-menu-category-list .menu-category:not(:nth-child(2)) {
    position: relative;
  }
  .desktop-menu-category-list .menu-category > .menu-title {
    position: relative;
    color: var(--onyx);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    padding: 15px 0;
    transition: var(--transition-timing);
  }
  .desktop-menu-category-list .menu-category > .menu-title:hover {
    color: var(--salmon-pink);
  }
  .desktop-menu-category-list .menu-category > .menu-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--salmon-pink);
    transform: scaleX(0);
    transform-origin: left;
    transition: var(--transition-timing);
  }
  .desktop-menu-category-list .menu-category > .menu-title:hover::after {
    transform: scaleX(1);
  }
  .dropdown-panel {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--white);
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 30px;
    border: 1px solid var(--cultured);
    box-shadow: 0 3px 5px hsla(0deg, 0%, 0%, 0.1);
    border-radius: var(--border-radius-md);
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition-timing);
    z-index: 5;
  }
  .desktop-menu-category-list .menu-category:hover > .dropdown-panel {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .dropdown-panel-list .menu-title a {
    color: var(--onyx);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cultured);
    margin-bottom: 10px;
  }
  .panel-list-item a {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    text-transform: capitalize;
    transition: var(--transition-timing);
  }
  .panel-list-item a:hover {
    color: var(--salmon-pink);
  }
  .panel-list-item:not(:last-child) a {
    padding: 4px 0;
  }
  .panel-list-item:last-child {
    margin-top: 20px;
  }
  .panel-list-item img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-sm);
  }
  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background: var(--white);
    padding: 20px 0;
    border-radius: var(--border-radius-md);
    border: 1px solid var(--cultured);
    box-shadow: 0 3px 5px hsla(0deg, 0%, 0%, 0.1);
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition-timing);
    z-index: 5;
  }
  .desktop-menu-category-list .menu-category:hover > .dropdown-list {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .dropdown-list .dropdown-item a {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    text-transform: capitalize;
    padding: 4px 20px;
    transition: var(--transition-timing);
  }
  .dropdown-list .dropdown-item a:hover {
    color: var(--salmon-pink);
  }
  .mobile-bottom-navigation {
    display: none;
  }
}
/**
 * responsive larger than 1200px screen
 */
@media (min-width: 1200px) {
  /**
    * #REUSED STYLE 
    */
  .container {
    max-width: 1200px;
  }
  /**
    * #HEADER
    */
  .desktop-menu-category-list {
    gap: 45px;
  }
}
/**
 * responsive larger than 1400px screen
 */
@media (min-width: 1400px) {
  /**
    * #BASE 
    */
  html {
    font-size: 18px;
  }
  /**
    * #REUSED STYLE 
    */
  .container {
    max-width: 1350px;
  }
  .footer-container ul p,
.footer-container ul a {
    padding-left: 30%;
  }
}/*# sourceMappingURL=main.css.map */