/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
:root {
  /**
     * colors
     */
  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: rgb(255, 143, 156);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);
  /**
  * typography
  */
  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  /**
  * border-radius
  */
  --border-radius-md: 10px;
  --border-radius-sm: 5px;
  /**
  * transition 
  */
  --transition-timing: 0.2s ease;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Old Standard TT", serif;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.11);
}

li {
  list-style: none;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.11);
}

img, ion-icon, button, a {
  display: block;
}

span {
  display: inline-block;
}

body {
  background: white;
}

/**
 * scrollbar style
 */
body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: white;
  border-left: 1px solid hsl(0deg, 0%, 93%);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0deg, 0%, 80%);
  border: 3px solid var(--white);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: hsl(0deg, 0%, 70%);
}

.title {
  color: var(--eerie-black);
  font-size: var(--fs-5);
  font-weight: var(--weight-600);
  letter-spacing: 0.4px;
  text-transform: capitalize;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--cultured);
  margin-bottom: 30px;
}

/**
 * overlay 
 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: hsla(0deg, 0%, 0%, 0.5);
  opacity: 0;
  pointer-events: none;
  z-index: 15;
  transition: 0.5s ease;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
.header-top-actions,
.header-user-actions,
.desktop-navigation-menu,
.header-social-container {
  display: none;
}

.header-top {
  display: block;
  padding: 10px 0;
  display: flex;
  border-bottom: 1px solid var(--cultured);
  align-items: center;
  justify-content: center;
  background-color: hsl(0deg, 0%, 13%);
}
.header-top .header-shipping-info {
  color: white;
  font-size: var(--fs-9);
  text-transform: uppercase;
  align-items: center;
}

.header-main {
  border-bottom: 1px solid var(--cultured);
  background-color: #FDE8E1;
  height: 150px;
  max-height: 150px;
}
.header-main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-main img {
  margin: 0 auto 0 auto;
  width: 100%;
  padding: 20px;
  max-width: 270px;
}
.header-main .hamburger-menu {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.header-main .hamburger-menu .action-btn {
  position: relative;
  font-size: 35px;
  color: var(--eerie-black);
  padding: 10px;
}
.header-main .shopping-cart {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.header-main .shopping-cart .action-btn {
  position: relative;
  font-size: 35px;
  color: var(--eerie-black);
  padding: 10px;
}
.header-main .shopping-cart .count {
  background: var(--bittersweet);
  color: var(--white);
  position: absolute;
  top: 2px;
  right: 7px;
  font-size: 12px;
  font-weight: var(--weight-500);
  line-height: 1;
  padding: 2px 4px;
  border-radius: 20px;
}

.mobile-bottom-navigation {
  background: var(--white);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  box-shadow: 0 0 10px hsla(0deg, 0%, 0%, 0.25);
  z-index: 5;
}

.mobile-bottom-navigation .action-btn {
  position: relative;
  font-size: 26px;
  color: var(--eerie-black);
  padding: 10px;
}

.mobile-bottom-navigation .count {
  background: var(--bittersweet);
  color: var(--white);
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  font-weight: var(--weight-500);
  line-height: 1;
  padding: 2px 4px;
  border-radius: 20px;
}

.mobile-navigation-menu {
  background: var(--white);
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  max-width: 320px;
  height: 100vh;
  padding: 20px;
  box-shadow: 0 0 10px hsla(0deg, 0%, 0%, 0.1);
  overflow-y: scroll;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  visibility: hidden;
  transition: 0.5s ease;
  z-index: 20;
}

.mobile-navigation-menu.active {
  left: 0;
  visibility: visible;
}

.menu-top {
  padding-bottom: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--cultured);
}

.menu-top .menu-title {
  color: var(--bittersweet);
  font-size: var(--fs-4);
  font-weight: var(--weight-600);
}

.menu-close-btn {
  color: var(--eerie-black);
  font-size: 22px;
}

.menu-close-btn ion-icon {
  --ionicon-stroke-width: 50px;
}

.mobile-menu-category-list {
  margin-bottom: 30px;
}

.menu-category .accordion-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-category-list .menu-category {
  border-bottom: 1px solid var(--cultured);
}

.mobile-menu-category-list .menu-title {
  color: var(--onyx);
  font-size: var(--fs-6);
  font-weight: var(--weight-500);
  padding: 12px 0;
}

.accordion-menu > div {
  font-size: 14px;
}

.accordion-menu ion-icon {
  color: var(--onyx);
  --ionicon-stroke-width: 90px;
}

.accordion-menu.active .add-icon,
.accordion-menu .remove-icon {
  display: none;
}

.accordion-menu .add-icon,
.accordion-menu.active .remove-icon {
  display: block;
}

.menu-category .submenu-category-list {
  margin-left: 10px;
}

.submenu-title {
  padding: 6px 0;
  font-size: var(--fs-6);
  color: var(--sonic-silver);
  font-weight: var(--weight-300);
}

.submenu-title:hover {
  color: var(--davys-gray);
}

.submenu-category-list {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}

.submenu-category-list.active {
  max-height: 148px;
  visibility: visible;
}

.menu-bottom .menu-category-list {
  margin-bottom: 20px;
}

.menu-bottom .menu-category {
  border-bottom: none;
}

.menu-bottom .menu-title {
  font-size: var(--fs-6);
  font-weight: var(--weight-500);
  color: var(--eerie-black);
  padding: 12px 0;
}

.accordion-menu.active .caret-back {
  transform: rotate(-0.25turn);
}

.menu-bottom .submenu-category-list {
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
  padding: 0 15px;
  margin-left: 0;
  box-shadow: 0 0 10px hsla(0deg, 0%, 0%, 0.05);
}

.menu-bottom .submenu-category:not(:last-child) {
  border-bottom: 1px solid var(--cultured);
}

.menu-social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu-social-container .social-link {
  background: var(--cultured);
  color: var(--eerie-black);
  font-size: 20px;
  padding: 10px;
  border-radius: var(--border-radius-md);
}

/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/
.sidebar {
  background: var(--white);
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  max-width: 320px;
  padding: 30px;
  overflow-y: scroll;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  visibility: hidden;
  transition: 0.5s ease;
  z-index: 20;
}

.sidebar.active {
  left: 0;
  visibility: visible;
}

.sidebar-category {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--cultured);
}

.sidebar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.sidebar-title {
  color: var(--onyx);
  font-size: var(--fs-5);
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-weight: var(--weight-600);
}

.sidebar-close-btn {
  display: none;
  color: var(--eerie-black);
  font-size: 22px;
  font-weight: var(--weight-600);
}

.sidebar-close-btn ion-icon {
  --ionicon-stroke-width: 50px;
}

.sidebar-accordion-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
}

.sidebar .menu-title-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar .menu-title {
  font-size: var(--fs-5);
  color: var(--sonic-silver);
  font-weight: var(--weight-500);
}

.sidebar-accordion-menu ion-icon {
  color: var(--sonic-silver);
  font-size: 14px;
  --ionicon-stroke-width: 70px;
}

.sidebar-submenu-category-list {
  border-top: 1px solid var(--cultured);
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}

.sidebar-submenu-category-list.active {
  padding: 13px 0 8px;
  max-height: 122px;
  visibility: visible;
}

.sidebar-submenu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--sonic-silver);
  font-size: var(--fs-7);
  padding: 2px 0;
}

.sidebar-submenu-title:hover {
  color: var(--eerie-black);
}

.sidebar .product-name {
  text-transform: capitalize;
}

.sidebar-accordion-menu.active .add-icon,
.sidebar-accordion-menu .remove-icon {
  display: none;
}

.sidebar-accordion-menu .add-icon,
.sidebar-accordion-menu.active .remove-icon {
  display: block;
}

.sidebar .showcase-heading {
  font-size: var(--fs-5);
  font-weight: var(--weight-600);
  color: var(--onyx);
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin-bottom: 15px;
}

.sidebar .showcase {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar .showcase:not(:last-child) {
  margin-bottom: 15px;
}

.sidebar .showcase-img {
  border-radius: var(--border-radius-sm);
}

.sidebar .showcase-content {
  width: calc(100% - 90px);
}

.sidebar .showcase-title {
  color: var(--onyx);
  font-size: var(--fs-7);
  font-weight: var(--weight-400);
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: 0.5px;
}

.sidebar .showcase-rating {
  display: flex;
  align-items: center;
  color: var(--sandy-brown);
  font-size: 13px;
  padding: 4px 0;
}

.sidebar .price-box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar .price-box del {
  color: var(--sonic-silver);
  font-size: 13px;
}

.sidebar .price-box .price {
  font-size: var(--fs-7);
  font-weight: var(--weight-600);
  color: var(--davys-gray);
}

/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/
/**
 * responsive larger than 480px screen
 */
@media (min-width: 480px) {
  /**
    * #CUSTOM PROPERTY
    */
  :root {
    /**
       * typography 
       */
    --fs-1: 1.875rem;
  }
}
/**
 * responsive larger than 768px screen
 */
@media (min-width: 768px) {
  /**
    * #CUSTOM PROPERTY
    */
  :root {
    /**
       * typography 
       */
    --fs-1: 2.375rem;
  }
  /**
    * #BASE 
    */
  html {
    font-size: 17px;
  }
  /**
    * #REUSED STYLE 
    */
  .container {
    max-width: 750px;
    margin: auto;
  }
  /**
    * #HEADER 
    */
  .header-main .container {
    gap: 80px;
  }
}
/**
 * responsive larger than 1024px screen
 */
@media (min-width: 1024px) {
  /**
    * #CUSTOM PROPERTY
    */
  :root {
    /**
       * typography 
       */
    --fs-1: 2.625rem;
    --fs-2: 1.125rem;
  }
  /**
    * #REUSED STYLE 
    */
  .container {
    max-width: 980px;
  }
  /**
    * #NOTIFICATION TOAST 
    */
  .notification-toast {
    bottom: 30px;
  }
  /**
    * #HEADER 
    */
  .header-main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-main .hamburger-menu {
    display: none;
  }
  .header-main .shopping-cart {
    display: none;
  }
  .header-main .header-logo img {
    padding: 0px;
  }
  .header-main .header-social-container {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .header-main .header-social-container .social-link {
    padding: 14px;
    background: hsl(0deg, 0%, 95%);
    border-radius: var(--border-radius-sm);
    color: var(--sonic-silver);
    transition: var(--transition-timing);
  }
  .header-main .header-social-container .social-link:hover {
    background: var(--salmon-pink);
    color: var(--white);
  }
  .header-main .header-user-actions {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .header-main .header-user-actions .action-btn {
    position: relative;
    font-size: 35px;
    color: var(--onyx);
    padding: 5px;
  }
  .header-main .header-user-actions .count {
    position: absolute;
    top: -2px;
    right: -3px;
    background: var(--bittersweet);
    color: var(--white);
    font-size: 12px;
    font-weight: var(--weight-500);
    line-height: 1;
    padding: 2px 4px;
    border-radius: 20px;
  }
  .desktop-navigation-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .desktop-navigation-menu .desktop-menu-category-list {
    display: inline-block;
  }
  .desktop-navigation-menu a {
    margin-left: 50px;
    margin-right: 50px;
  }
  .desktop-menu-category-list .menu-category:not(:nth-child(2)) {
    position: relative;
  }
  .desktop-menu-category-list .menu-category > .menu-title {
    position: relative;
    color: var(--onyx);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    padding: 15px 0;
    transition: var(--transition-timing);
  }
  .desktop-menu-category-list .menu-category > .menu-title:hover {
    color: var(--salmon-pink);
  }
  .desktop-menu-category-list .menu-category > .menu-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--salmon-pink);
    transform: scaleX(0);
    transform-origin: left;
    transition: var(--transition-timing);
  }
  .desktop-menu-category-list .menu-category > .menu-title:hover::after {
    transform: scaleX(1);
  }
  .dropdown-panel {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--white);
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 30px;
    border: 1px solid var(--cultured);
    box-shadow: 0 3px 5px hsla(0deg, 0%, 0%, 0.1);
    border-radius: var(--border-radius-md);
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition-timing);
    z-index: 5;
  }
  .desktop-menu-category-list .menu-category:hover > .dropdown-panel {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .dropdown-panel-list .menu-title a {
    color: var(--onyx);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cultured);
    margin-bottom: 10px;
  }
  .panel-list-item a {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    text-transform: capitalize;
    transition: var(--transition-timing);
  }
  .panel-list-item a:hover {
    color: var(--salmon-pink);
  }
  .panel-list-item:not(:last-child) a {
    padding: 4px 0;
  }
  .panel-list-item:last-child {
    margin-top: 20px;
  }
  .panel-list-item img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-sm);
  }
  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background: var(--white);
    padding: 20px 0;
    border-radius: var(--border-radius-md);
    border: 1px solid var(--cultured);
    box-shadow: 0 3px 5px hsla(0deg, 0%, 0%, 0.1);
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition-timing);
    z-index: 5;
  }
  .desktop-menu-category-list .menu-category:hover > .dropdown-list {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .dropdown-list .dropdown-item a {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    text-transform: capitalize;
    padding: 4px 20px;
    transition: var(--transition-timing);
  }
  .dropdown-list .dropdown-item a:hover {
    color: var(--salmon-pink);
  }
  .mobile-bottom-navigation {
    display: none;
  }
}
/**
 * responsive larger than 1200px screen
 */
@media (min-width: 1200px) {
  /**
    * #REUSED STYLE 
    */
  .container {
    max-width: 1200px;
  }
  /**
    * #HEADER
    */
  .desktop-menu-category-list {
    gap: 45px;
  }
}
/**
 * responsive larger than 1400px screen
 */
@media (min-width: 1400px) {
  /**
    * #BASE 
    */
  html {
    font-size: 18px;
  }
  /**
    * #REUSED STYLE 
    */
  .container {
    max-width: 1350px;
  }
}/*# sourceMappingURL=main.css.map */